@import "../styles/typography.css";

body {
    background: rgb(20, 20, 20);
    margin: 0;
    color: white;
    transition: all 1s ease-in-out;
    overflow-x: hidden;
    font-family: roboto, sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #2a3353;
    border: none;
    cursor: pointer;
    border-top: 1px solid #2a3353;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding: 2%;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: #2a3353;
        background-color: #ffffff;
    }
}
/*desktop home*/
.mainContent {
    top: 0 !important;
    display: flex;

    .mainContent__scrollCTA {
        position: fixed;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .mainContent__scrollCTAtext {
            margin-top: 15px;
            font-size: 20px;
        }
        svg {
            width: 32.27px;
            height: 58.061px;
        }
    }

    .mainContent__titleSection {
        width: 70vw;
        display: flex;
        height: 100%;
        position: relative;
        z-index: 1;
        justify-content: center;
        flex-direction: column;
        .mainContent__title {
            font-size: 133px;
            margin-left: 2vw;
            font-weight: bold;
            font-family: "MedulaOne-Regular", georgia, serif;
        }
        .mainContent__subTitle {
            font-weight: 100;
            margin-left: 2vw;
            margin-top: -5px;
            font-size: 24px;
            color: rgb(197, 197, 197);
        }
    }
    .mainContent__projects {
        background-color: rgba(197, 197, 197, 0);
        position: relative;
        z-index: 1;
        -webkit-box-shadow: -16px 0px 36px -9px rgba(0, 0, 0, 0.32);
        box-shadow: -10px 0px 11px 0px rgba(0, 0, 0, 0.2);
        height: 100vh;
        width: 30vw;

        .mainContent__scrollContainer {
            position: fixed;
            top: 0px;
            z-index: 1;
            margin-left: -10vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            height: 100vh;
            width: 470vw;
            min-width: 4763px; // After 1000 px reduce to 4863px and reduce...

            .mainContent__projectContainer {
                position: relative;
                display: flex;
                max-height: 900px;
                height: 35vw;
                min-height: 420px;
                min-width: 660px;
                width: 60vw;
                flex-direction: row;
                justify-content: center;
                margin-right: 8vw;
            }
            .mainContent__projectInfo {
                width: 30%;
                position: relative;
                display: none;
                z-index: 1;
                color: white;
                padding-right: 20px;
                .mainContent__projectSubTitle {
                    font-weight: bold;
                    margin-bottom: 10px;
                    font-style: italic;
                    font-size: 20px;
                }
                .mainContent__projectDescription {
                    font-size: 13.5px;
                }
            }
            .mainContent__projectImageTitleLink {
                display: flex;
                width: 80%;
                flex-direction: column;
                .mainContent__projectImage {
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    border-radius: 20px 20px 0px 0px;
                    position: relative;
                    z-index: 2;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .mainContent__projectImage--firstProject {
                    background-image: url("../images/projectImages/nilsB.webp");
                }
                .mainContent__projectImage--secondProject {
                    background-image: url("../images/projectImages/wscBau.webp");
                }
                .mainContent__projectImage--thirdProject {
                    background-image: url("../images/projectImages/UCNAmb.webp");
                }
                .mainContent__projectImage--fourthProject {
                    background-image: url("../images/projectImages/uxBulgaria.webp");
                }
                .mainContent__projectImage--fifthProject {
                    background-image: url("../images/projectImages/taliaferroVid.webp");
                }
                .mainContent__projectImage--sixthProject {
                    background-image: url("../images/projectImages/tuborgwebsiteActual.webp");
                }
                .mainContent__titleLink {
                    display: none;
                    height: 10%;
                    position: relative;
                    z-index: 1;
                    flex-direction: row;
                    justify-content: space-between;

                    .mainContent__projectLink {
                        min-height: 50px;
                        min-width: 86px;
                        position: relative;
                        top: -10px;
                        @include center();
                        font-family: roboto, sans-serif;
                        border: none;
                        border-radius: 0px 0px 20px 20px;
                        background-color: #2a3353;
                        transition: all 0.2s ease-in-out;
                        color: white;
                        font-size: 13.5px;
                        font-weight: 900;
                        user-select: none;
                        cursor: pointer;

                        &:hover {
                            background-color: white;
                            color: #2a3353;
                            top: 0px;
                        }
                    }

                    .mainContent__projectTitle {
                        font-size: 30px;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}
/*desktop home*/
.mainContent__spacer {
    display: block;
    position: fixed;
    height: 80vh;
    width: 100vw;
    right: 11.8vw;
    top: 4vw;
    z-index: 0;
}

//NAVIGATION
.navigation {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 6;
    right: 2vw;
    top: 2vw;

    .navigationButton {
        background-color: #2a3353;
        border: none;
        padding: 6px 12px;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        overflow: hidden;
        border-radius: 20px;
        font-size: 22px;
        color: #ffffff;
        cursor: pointer;
        &:hover {
            color: #2a3353;
            background-color: #ffffff;
        }
    }
}
//NAVIGATION

// //CONTACT CONTAINER
// .contactContainer__contactSection {
//     display: none;
//     min-height: 400px;
//     flex-direction: column;
//     justify-content: center;
//     width: 45vw;
//     min-width: 626px;
// }
// .contactContainer__contactSection {
//     .contactContainer__contactPersonalMail {
//         display: flex;
//         .contactContainer__contactCTA {
//             width: 50%;
//             h2 {
//                 font-size: 23px;
//                 font-weight: 400;
//                 width: 80%;
//             }
//         }
//         .contactContainer__contactMailto {
//             height: 55px;
//             width: 50%;
//             display: flex;
//             align-items: flex-end;

//             a {
//                 color: white;
//                 text-decoration: none;
//                 font-size: 19px;
//                 padding: 10px;
//                 background-color: #1d243c80;
//                 transition: all 0.2s ease-in-out;
//                 &:hover {
//                     color: #2a3353;
//                     background-color: #ffffff;
//                 }
//             }
//         }
//     }

//     .contactContainer__contactForm {
//         display: flex;
//         margin-top: 2vw;

//         .contactContainer__contactFormColumnLeft,
//         .contactContainer__contactFormColumnRight {
//             width: 50%;
//             display: flex;
//             flex-direction: column;
//             input,
//             textarea {
//                 border: none;
//                 margin-top: 10px;
//                 padding: 5px;
//                 padding-left: 10px;
//                 font-family: Roboto, sans-serif;
//             }
//             input {
//                 margin-bottom: 15px;
//                 margin-right: 20px;
//                 border-radius: 2px;
//                 height: 34px;
//                 font-size: 15px;
//             }
//             textarea {
//                 height: 104.2px;
//                 padding-top: 10px;
//                 resize: none;
//                 font-size: 15px;
//             }
//             label {
//                 font-size: 17px;
//             }
//             ::placeholder {
//                 font-size: 13px;
//             }
//         }
//     }
// }

@media only screen and (min-width: 1550px) {
    .mainContent {
        .mainContent__titleSection {
            .mainContent__title {
                font-size: 9vw;
            }
            .mainContent__subTitle {
                font-size: 1.7vw;
            }
        }
        .mainContent__scrollCTA {
            .mainContent__scrollCTAtext {
                font-size: 1.2vw;
            }
        }
        .mainContent__scrollCTA svg {
            height: 4vw;
            width: 2vw;
        }

        .mainContent__projects {
            .mainContent__scrollContainer {
                .mainContent__projectInfo {
                    .mainContent__projectSubTitle {
                        font-size: 1.6vw;
                    }
                    .mainContent__projectDescription {
                        font-size: 1vw;
                    }
                }
                .mainContent__projectImageTitleLink {
                    .mainContent__titleLink {
                        .mainContent__projectTitle {
                            font-size: 2vw;
                        }

                        .mainContent__projectLink {
                            height: 3vw;
                            width: 5vw;
                            font-size: 0.9vw;
                        }
                    }
                }
            }
        }
    }

    .navigation {
        .navigationButton {
            font-size: 1.5vw;
        }
    }
}

@media only screen and (max-width: 768px) {
    .mainContent__spacer {
        display: none;
    }
    .mainContent {
        height: 100vh !important;
        max-width: none !important;
        position: static !important;
    }
    .mainContent .mainContent__titleSection {
        width: 100vw;
        align-items: center;
    }
    .mainContent .mainContent__titleSection .mainContent__subTitle {
        font-size: 27px;
        margin-left: 0;
    }
    .mainContent .mainContent__projects {
        display: none;
    }
    .mainContent .mainContent__scrollCTA {
        position: absolute;
    }
}
@media only screen and (max-width: 500px) {
    .mainContent .mainContent__titleSection .mainContent__title {
        font-size: 100px;
    }
    .mainContent .mainContent__titleSection .mainContent__subTitle {
        font-size: 20px;
    }
}

@media only screen and (max-width: 415px) {
    .mainContent .mainContent__titleSection {
        width: 100vw;
        align-items: initial;
    }
    .mainContent .mainContent__titleSection .mainContent__title {
        font-size: 145px;
        line-height: 120px;
        margin-left: 3vw;
    }
    .mainContent .mainContent__titleSection .mainContent__subTitle {
        font-size: 20px;
        margin-top: 5px;
        margin-left: 3vw;
    }
}
@media only screen and (max-width: 335px) {
    .mainContent .mainContent__titleSection .mainContent__title {
        font-size: 135px;
        line-height: 100px;
    }
    .mainContent .mainContent__titleSection .mainContent__subTitle {
        font-size: 18px;
    }
}

$desktop: 1920px;
$laptop: 1440px;
$laptopS: 1024px;
$tablet: 950px;
$phoneL: 750px;
$phoneS: 640px;
$phoneXS: 540px;
$phoneXXS: 440px;
$phoneXXXS: 390px;
$phoneXXXXS: 350px;

.aboutMeMain {
    display: flex;
    height: 100vh;
    background: #101422;

    aboutMeMain__animationContainer {
        position: fixed;
    }
    video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}
.mobileHomepage {
    display: none;
}
/* homepage for mobile */
@media only screen and (max-width: 768px) {
    .mobileHomepage {
        display: flex;
        flex-direction: column;
        width: 100vw;
        .mobileHomepage__projectsContainer {
            width: 100vw;
            @include center();
            flex-direction: column;
        }
        .mobileHomepage__3DScene {
            position: absolute;
            z-index: 0;
            pointer-events: none;
            top: 0;
            height: 100vh;
            width: 100vw;
        }

        .mobileHomepage__projects {
            width: 80vw;
            transform: translateY(100px);
            opacity: 0;
            position: relative;
            @media only screen and (max-width: 420px) {
                width: 93vw;
            }
        }
        .mobileHomepage__imageContainer {
            height: 40vh;
            @media only screen and (max-width: 500px) {
                height: 30vh;
            }
        }
        .mobileHomepage__projectImage {
            position: relative;
            border-radius: 20px 20px 0 0;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }
        .mobileHomepage__projectImage--firstProject {
            background-image: url("../images/projectImages/nilsB.webp");
        }
        .mobileHomepage__projectImage--secondProject {
            background-image: url("../images/projectImages/wscBau.webp");
        }
        .mobileHomepage__projectImage--thirdProject {
            background-image: url("../images/projectImages/UCNAmb.webp");
        }
        .mobileHomepage__projectImage--fourthProject {
            background-image: url("../images/projectImages/uxBulgaria.webp");
        }
        .mobileHomepage__projectImage--fifthProject {
            background-image: url("../images/projectImages/taliaferroVid.webp");
        }
        .mobileHomepage__projectImage--sixthProject {
            background-image: url("../images/projectImages/tuborgwebsiteActual.webp");
        }
    }
    .mobileHomepage__projectLink {
        width: 100%;
        height: 40px;
        position: relative;
        top: 0;
        @include center();
        border: none;
        border-radius: 0px 0px 20px 20px;
        background-color: #2a3353;
        transition: all 0.2s ease-in-out;
        color: white;
        font-size: 15.5px;
        font-weight: 900;
        z-index: 0;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: #2a3353;
            top: -10px;
        }
    }
    .mobileHomepage__projectInfo {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        hr {
            width: 100%;
            margin: 20px 0px;
        }
        .mobileHomepage__titleSection {
            display: flex;
            align-items: flex-end;

            flex-direction: row;
            margin-bottom: 10px;

            hr {
                justify-self: end;
                width: 100%;
                margin: 5px 0 0 0;
            }
        }
        .mobileHomepage__number {
            font-size: 8.5em;
            margin-right: 10px;
            color: white;
            font-family: "MedulaOne-Regular", georgia, serif;
            line-height: 90px;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            @media only screen and (max-width: 480px) {
                font-size: 7em;
                line-height: 70px;
            }
            @media only screen and (max-width: 450px) {
                font-size: 6em;
                line-height: 65px;
            }
        }
        .mobileHomepage__title {
            width: 65vw;
            @media only screen and (max-width: 420px) {
                width: 75vw;
            }
            h3 {
                line-height: 60px;
                font-size: 6em;
                font-family: "Teko-Regular", georgia, serif;

                @media only screen and (max-width: 560px) {
                    font-size: 5em;
                    line-height: 50px;
                }
                @media only screen and (max-width: 480px) {
                    font-size: 4.5em;
                    line-height: 40px;
                }
                @media only screen and (max-width: 400px) {
                    font-size: 3.9em;
                    line-height: 35px;
                }
            }
        }
        .mobileHomepage__projectDescription {
            color: white;
            font-size: 1.05em;
            @media only screen and (max-width: 550px) {
                font-size: 0.9em;
            }
            @media only screen and (max-width: 450px) {
                font-size: 0.85em;
            }
        }
    }
    .mobileHomepage__secondScene {
        height: 50vh;
    }
    .mobileHomepage__tvCTA {
        position: relative;
        height: 50vh;
        width: 100vw;
        @include center();
        h3 {
            text-align: center;
        }
    }
}
/* homepage for mobile */
/*new about me*/

.aboutMeContainer__loadingScreen {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: black;
    @include center();
    flex-direction: row;
    .aboutMeContainer__counter {
        p {
            font-family: "Teko-Regular", georgia, serif;
            font-style: italic;
            font-size: 10em;
        }
    }
    .aboutMeContainer__loadingText {
        display: flex;
        position: absolute;
        top: 0;
        left: -300px;
        color: white;
        user-select: none;
        -webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        p {
            font-family: "Teko-Regular", georgia, serif;
            font-size: 15em;

            @media only screen and (max-width: 600px) {
                font-size: 10em;
            }
            @media only screen and (max-width: 400px) {
                font-size: 7em;
            }
        }
    }

    .aboutMeContainer__loadingText--flipped {
        top: initial !important;
        bottom: 0;
        right: -290px !important;
        left: initial !important;
    }
    .aboutMeContainer__loadingText--center {
        top: initial;
        left: initial;
        font-style: italic;
        opacity: 15%;
        @media screen and (max-width: $phoneL) {
            opacity: 100%;
        }
    }
}

.aboutMeContainer__splineScene {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.aboutMeContainer__splineScene--enableMobile {
    display: none;
}
.aboutMeContainer__landscapeVideo--disabled {
    display: none !important;
}
//  desktop = 1920// 2500
//  laptop  =  1440 // 3000
//  laptopS =  1024 // 3349.19912568484
//  tablet = 789 //3884.19912568484

@media screen and (max-width: $phoneL) {
    .aboutMeContainer__splineScene--disableMobile {
        display: none;
    }
    .aboutMeContainer__counter--disableMobile {
        display: none !important;
    }
    .aboutMeContainer__splineScene--enableMobile {
        display: block;
    }
}
.aboutMeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutMeContainer__videoContainer {
    display: flex;
    justify-content: center;
    pointer-events: none;
    align-items: center;
    .aboutMeContainer__landscapeVideo {
        display: flex;
        @media screen and (max-width: $phoneXXXXS) {
            width: 34.5vh;
        }
        @media screen and (min-width: $phoneXXXXS) and (max-width: $phoneXXXS) {
            width: 38.5vh;
        }
        @media screen and (min-width: $phoneXXXS) and (max-width: $phoneXXS) {
            width: 41vh;
        }
        @media screen and (min-width: $phoneXXS) and (max-width: $phoneXS) {
            width: 48vh;
        }
        @media screen and (min-width: $phoneXS) and (max-width: $phoneS) {
            width: 56vh;
        }
        @media screen and (min-width: $phoneS) and (max-width: $phoneL) {
            width: 56vh;
        }
        @media screen and (min-width: $phoneL) and (max-width: $tablet) {
            width: 48vh;
        }
        @media screen and (min-width: $tablet) and (max-width: $laptopS) {
            width: 59vh;
        }
        @media screen and (min-width: $laptopS) and (max-width: $laptop) {
            width: 66vh;
        }
        @media screen and (min-width: $laptop) and (max-width: $desktop) {
            width: 84vh;
        }
        @media screen and (min-width: $desktop) {
            width: 66vh;
        }
    }
}

.aboutMeContainer__recommendations {
    height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 7;
    background-color: #000000ab;
    display: none;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .aboutMeContainer__nextRec {
        margin-bottom: 80px;
        button {
            font-size: 1.1em;
            padding: 15px 5vw;
            border-radius: 30px;
            background: white;
            color: #2a3353;
            border: none;
            opacity: 0;
            transform: translateY(50px);
            &:hover {
                background-color: #2a3353;
                color: white;
            }
            &:active {
                background: white;
                color: #2a3353;
            }
        }
    }
    @media only screen and (max-width: 800px) {
        .aboutMeContainer__nextRec {
            button {
                padding: 15px 20vw;
                &:hover {
                    background-color: white !important;
                    color: #2a3353 !important;
                }
                &:active {
                    color: white !important;
                    background-color: #2a3353 !important;
                }
            }
        }
    }
    .aboutMeContainer__closePopUp {
        margin-top: 20px;
        button {
            font-size: 1.2em;
            transform: translateY(100px);
            padding: 15px;
            width: 100vw;
            background: #101010;
            color: white;
            border: none;
            &:active {
                background-color: #101010;
                color: white;
            }
            &:hover {
                background: white;
                color: black;
            }
        }
    }

    .aboutMeContainer__clickOff {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
    }

    .aboutMeContainer__recommendation {
        flex-direction: column;
        overflow: hidden;
        // transform: translateY(100px);
        width: 360px;
        min-width: 360px;
        margin: 10px 10px;
        margin-top: 20vh;
        border-radius: 15px;
        @media only screen and (max-width: 400px) {
            margin: 10px;
            width: 90vw;
            min-width: 90vw;
        }

        .aboutMeContainer__recommendation-information {
            // background-color:red;
            padding: 10px;
            // height: 80%;
            display: flex;
            flex-direction: column;
            background-color: white;
            position: relative;
            z-index: 2;
            .aboutMeContainer__recommendation-writtenBy {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;
                margin-bottom: 20px;
                .aboutMeContainer__recommendation-profileImage {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-shadow: 0px 0px 15px 0px rgb(2, 6, 116);
                    @media only screen and (max-width: 400px) {
                        height: 80px;
                        width: 80px;
                    }
                }

                .aboutMeContainer__recommendation-profileImage--firstRec {
                    background-image: url("../images/recommendation/dina.webp");
                }
                .aboutMeContainer__recommendation-profileImage--secondRec {
                    background-image: url("../images/recommendation/taliaferro.webp");
                    background-position-y: -2.5px;
                }
                .aboutMeContainer__recommendation-profileImage--thirdRec {
                    background-image: url("../images/recommendation/nils.webp");
                }
                .aboutMeContainer__nameTitle {
                    display: flex;
                    flex-direction: column;
                    padding-top: 15px;
                    text-align: center;
                    p {
                        color: black;
                    }
                    :nth-child(1) {
                        font-weight: bold;
                        font-size: 1.2em;
                        @media only screen and (max-width: 400px) {
                            font-size: 1.1em;
                        }
                    }
                    :nth-child(2) {
                        font-size: 0.8em;
                        color: #2a3353;
                        @media only screen and (max-width: 400px) {
                            font-size: 0.7em;
                        }
                    }
                }
            }
            .aboutMeContainer__text {
                text-align: center;
                margin: 30px 30px;
                p {
                    color: black;
                    font-size: 15px;
                }
                @media only screen and (max-width: 400px) {
                    margin: 10px;
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
        .aboutMeContainer__link {
            button {
                height: 100%;
                width: 100%;
                padding: 15px;
                position: relative;
                z-index: 1;
                border-radius: 0px 0px 15px 15px;
                &:hover {
                    background-color: #2a3353;
                    color: white;
                    transform: translateY(-5px);
                }
            }
        }
    }
}
.aboutMeContainer__hideRec {
    display: none;
}

/*new about me*/

/*404 page*/

.page404 {
    height: 100vh;
    width: 100vw;
    @include center();
}
