@font-face {
  font-family: "MedulaOne-Regular";
  src: url("../fonts/MedulaOne-Regular.ttf");
}

@font-face {
  font-family: 'Teko-Regular';
  src: url("../fonts/Teko-Regular.ttf");
}

body {
  background: #141414;
  margin: 0;
  color: white;
  transition: all 1s ease-in-out;
  overflow-x: hidden;
  font-family: roboto, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  background-color: #2a3353;
  border: none;
  cursor: pointer;
  border-top: 1px solid #2a3353;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding: 2%;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  color: #2a3353;
  background-color: #ffffff;
}

/*desktop home*/
.mainContent {
  top: 0 !important;
  display: flex;
}

.mainContent .mainContent__scrollCTA {
  position: fixed;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContent .mainContent__scrollCTA .mainContent__scrollCTAtext {
  margin-top: 15px;
  font-size: 20px;
}

.mainContent .mainContent__scrollCTA svg {
  width: 32.27px;
  height: 58.061px;
}

.mainContent .mainContent__titleSection {
  width: 70vw;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
}

.mainContent .mainContent__titleSection .mainContent__title {
  font-size: 133px;
  margin-left: 2vw;
  font-weight: bold;
  font-family: "MedulaOne-Regular", georgia, serif;
}

.mainContent .mainContent__titleSection .mainContent__subTitle {
  font-weight: 100;
  margin-left: 2vw;
  margin-top: -5px;
  font-size: 24px;
  color: #c5c5c5;
}

.mainContent .mainContent__projects {
  background-color: rgba(197, 197, 197, 0);
  position: relative;
  z-index: 1;
  -webkit-box-shadow: -16px 0px 36px -9px rgba(0, 0, 0, 0.32);
  box-shadow: -10px 0px 11px 0px rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 30vw;
}

.mainContent .mainContent__projects .mainContent__scrollContainer {
  position: fixed;
  top: 0px;
  z-index: 1;
  margin-left: -10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  height: 100vh;
  width: 470vw;
  min-width: 4763px;
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectContainer {
  position: relative;
  display: flex;
  max-height: 900px;
  height: 35vw;
  min-height: 420px;
  min-width: 660px;
  width: 60vw;
  flex-direction: row;
  justify-content: center;
  margin-right: 8vw;
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectInfo {
  width: 30%;
  position: relative;
  display: none;
  z-index: 1;
  color: white;
  padding-right: 20px;
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectInfo .mainContent__projectSubTitle {
  font-weight: bold;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 20px;
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectInfo .mainContent__projectDescription {
  font-size: 13.5px;
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__projectImage {
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__projectImage--firstProject {
  background-image: url("../images/projectImages/nilsB.webp");
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__projectImage--secondProject {
  background-image: url("../images/projectImages/wscBau.webp");
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__projectImage--thirdProject {
  background-image: url("../images/projectImages/UCNAmb.webp");
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__projectImage--fourthProject {
  background-image: url("../images/projectImages/uxBulgaria.webp");
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__projectImage--fifthProject {
  background-image: url("../images/projectImages/taliaferroVid.webp");
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__projectImage--sixthProject {
  background-image: url("../images/projectImages/tuborgwebsiteActual.webp");
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__titleLink {
  display: none;
  height: 10%;
  position: relative;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__titleLink .mainContent__projectLink {
  min-height: 50px;
  min-width: 86px;
  position: relative;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto, sans-serif;
  border: none;
  border-radius: 0px 0px 20px 20px;
  background-color: #2a3353;
  transition: all 0.2s ease-in-out;
  color: white;
  font-size: 13.5px;
  font-weight: 900;
  user-select: none;
  cursor: pointer;
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__titleLink .mainContent__projectLink:hover {
  background-color: white;
  color: #2a3353;
  top: 0px;
}

.mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__titleLink .mainContent__projectTitle {
  font-size: 30px;
  font-weight: 900;
}

/*desktop home*/
.mainContent__spacer {
  display: block;
  position: fixed;
  height: 80vh;
  width: 100vw;
  right: 11.8vw;
  top: 4vw;
  z-index: 0;
}

.navigation {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 6;
  right: 2vw;
  top: 2vw;
}

.navigation .navigationButton {
  background-color: #2a3353;
  border: none;
  padding: 6px 12px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  overflow: hidden;
  border-radius: 20px;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
}

.navigation .navigationButton:hover {
  color: #2a3353;
  background-color: #ffffff;
}

@media only screen and (min-width: 1550px) {
  .mainContent .mainContent__titleSection .mainContent__title {
    font-size: 9vw;
  }
  .mainContent .mainContent__titleSection .mainContent__subTitle {
    font-size: 1.7vw;
  }
  .mainContent .mainContent__scrollCTA .mainContent__scrollCTAtext {
    font-size: 1.2vw;
  }
  .mainContent .mainContent__scrollCTA svg {
    height: 4vw;
    width: 2vw;
  }
  .mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectInfo .mainContent__projectSubTitle {
    font-size: 1.6vw;
  }
  .mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectInfo .mainContent__projectDescription {
    font-size: 1vw;
  }
  .mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__titleLink .mainContent__projectTitle {
    font-size: 2vw;
  }
  .mainContent .mainContent__projects .mainContent__scrollContainer .mainContent__projectImageTitleLink .mainContent__titleLink .mainContent__projectLink {
    height: 3vw;
    width: 5vw;
    font-size: 0.9vw;
  }
  .navigation .navigationButton {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .mainContent__spacer {
    display: none;
  }
  .mainContent {
    height: 100vh !important;
    max-width: none !important;
    position: static !important;
  }
  .mainContent .mainContent__titleSection {
    width: 100vw;
    align-items: center;
  }
  .mainContent .mainContent__titleSection .mainContent__subTitle {
    font-size: 27px;
    margin-left: 0;
  }
  .mainContent .mainContent__projects {
    display: none;
  }
  .mainContent .mainContent__scrollCTA {
    position: absolute;
  }
}

@media only screen and (max-width: 500px) {
  .mainContent .mainContent__titleSection .mainContent__title {
    font-size: 100px;
  }
  .mainContent .mainContent__titleSection .mainContent__subTitle {
    font-size: 20px;
  }
}

@media only screen and (max-width: 415px) {
  .mainContent .mainContent__titleSection {
    width: 100vw;
    align-items: initial;
  }
  .mainContent .mainContent__titleSection .mainContent__title {
    font-size: 145px;
    line-height: 120px;
    margin-left: 3vw;
  }
  .mainContent .mainContent__titleSection .mainContent__subTitle {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 3vw;
  }
}

@media only screen and (max-width: 335px) {
  .mainContent .mainContent__titleSection .mainContent__title {
    font-size: 135px;
    line-height: 100px;
  }
  .mainContent .mainContent__titleSection .mainContent__subTitle {
    font-size: 18px;
  }
}

.aboutMeMain {
  display: flex;
  height: 100vh;
  background: #101422;
}

.aboutMeMain aboutMeMain__animationContainer {
  position: fixed;
}

.aboutMeMain video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mobileHomepage {
  display: none;
}

/* homepage for mobile */
@media only screen and (max-width: 768px) {
  .mobileHomepage {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .mobileHomepage .mobileHomepage__projectsContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mobileHomepage .mobileHomepage__3DScene {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    top: 0;
    height: 100vh;
    width: 100vw;
  }
  .mobileHomepage .mobileHomepage__projects {
    width: 80vw;
    transform: translateY(100px);
    opacity: 0;
    position: relative;
  }
}

@media only screen and (max-width: 768px) and (max-width: 420px) {
  .mobileHomepage .mobileHomepage__projects {
    width: 93vw;
  }
}

@media only screen and (max-width: 768px) {
  .mobileHomepage .mobileHomepage__imageContainer {
    height: 40vh;
  }
}

@media only screen and (max-width: 768px) and (max-width: 500px) {
  .mobileHomepage .mobileHomepage__imageContainer {
    height: 30vh;
  }
}

@media only screen and (max-width: 768px) {
  .mobileHomepage .mobileHomepage__projectImage {
    position: relative;
    border-radius: 20px 20px 0 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .mobileHomepage .mobileHomepage__projectImage--firstProject {
    background-image: url("../images/projectImages/nilsB.webp");
  }
  .mobileHomepage .mobileHomepage__projectImage--secondProject {
    background-image: url("../images/projectImages/wscBau.webp");
  }
  .mobileHomepage .mobileHomepage__projectImage--thirdProject {
    background-image: url("../images/projectImages/UCNAmb.webp");
  }
  .mobileHomepage .mobileHomepage__projectImage--fourthProject {
    background-image: url("../images/projectImages/uxBulgaria.webp");
  }
  .mobileHomepage .mobileHomepage__projectImage--fifthProject {
    background-image: url("../images/projectImages/taliaferroVid.webp");
  }
  .mobileHomepage .mobileHomepage__projectImage--sixthProject {
    background-image: url("../images/projectImages/tuborgwebsiteActual.webp");
  }
  .mobileHomepage__projectLink {
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px 0px 20px 20px;
    background-color: #2a3353;
    transition: all 0.2s ease-in-out;
    color: white;
    font-size: 15.5px;
    font-weight: 900;
    z-index: 0;
    cursor: pointer;
  }
  .mobileHomepage__projectLink:hover {
    background-color: white;
    color: #2a3353;
    top: -10px;
  }
  .mobileHomepage__projectInfo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .mobileHomepage__projectInfo hr {
    width: 100%;
    margin: 20px 0px;
  }
  .mobileHomepage__projectInfo .mobileHomepage__titleSection {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .mobileHomepage__projectInfo .mobileHomepage__titleSection hr {
    justify-self: end;
    width: 100%;
    margin: 5px 0 0 0;
  }
  .mobileHomepage__projectInfo .mobileHomepage__number {
    font-size: 8.5em;
    margin-right: 10px;
    color: white;
    font-family: "MedulaOne-Regular", georgia, serif;
    line-height: 90px;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
}

@media only screen and (max-width: 768px) and (max-width: 480px) {
  .mobileHomepage__projectInfo .mobileHomepage__number {
    font-size: 7em;
    line-height: 70px;
  }
}

@media only screen and (max-width: 768px) and (max-width: 450px) {
  .mobileHomepage__projectInfo .mobileHomepage__number {
    font-size: 6em;
    line-height: 65px;
  }
}

@media only screen and (max-width: 768px) {
  .mobileHomepage__projectInfo .mobileHomepage__title {
    width: 65vw;
  }
}

@media only screen and (max-width: 768px) and (max-width: 420px) {
  .mobileHomepage__projectInfo .mobileHomepage__title {
    width: 75vw;
  }
}

@media only screen and (max-width: 768px) {
  .mobileHomepage__projectInfo .mobileHomepage__title h3 {
    line-height: 60px;
    font-size: 6em;
    font-family: "Teko-Regular", georgia, serif;
  }
}

@media only screen and (max-width: 768px) and (max-width: 560px) {
  .mobileHomepage__projectInfo .mobileHomepage__title h3 {
    font-size: 5em;
    line-height: 50px;
  }
}

@media only screen and (max-width: 768px) and (max-width: 480px) {
  .mobileHomepage__projectInfo .mobileHomepage__title h3 {
    font-size: 4.5em;
    line-height: 40px;
  }
}

@media only screen and (max-width: 768px) and (max-width: 400px) {
  .mobileHomepage__projectInfo .mobileHomepage__title h3 {
    font-size: 3.9em;
    line-height: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .mobileHomepage__projectInfo .mobileHomepage__projectDescription {
    color: white;
    font-size: 1.05em;
  }
}

@media only screen and (max-width: 768px) and (max-width: 550px) {
  .mobileHomepage__projectInfo .mobileHomepage__projectDescription {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 768px) and (max-width: 450px) {
  .mobileHomepage__projectInfo .mobileHomepage__projectDescription {
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 768px) {
  .mobileHomepage__secondScene {
    height: 50vh;
  }
  .mobileHomepage__tvCTA {
    position: relative;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileHomepage__tvCTA h3 {
    text-align: center;
  }
}

/* homepage for mobile */
/*new about me*/
.aboutMeContainer__loadingScreen {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.aboutMeContainer__loadingScreen .aboutMeContainer__counter p {
  font-family: "Teko-Regular", georgia, serif;
  font-style: italic;
  font-size: 10em;
}

.aboutMeContainer__loadingScreen .aboutMeContainer__loadingText {
  display: flex;
  position: absolute;
  top: 0;
  left: -300px;
  color: white;
  user-select: none;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.aboutMeContainer__loadingScreen .aboutMeContainer__loadingText p {
  font-family: "Teko-Regular", georgia, serif;
  font-size: 15em;
}

@media only screen and (max-width: 600px) {
  .aboutMeContainer__loadingScreen .aboutMeContainer__loadingText p {
    font-size: 10em;
  }
}

@media only screen and (max-width: 400px) {
  .aboutMeContainer__loadingScreen .aboutMeContainer__loadingText p {
    font-size: 7em;
  }
}

.aboutMeContainer__loadingScreen .aboutMeContainer__loadingText--flipped {
  top: initial !important;
  bottom: 0;
  right: -290px !important;
  left: initial !important;
}

.aboutMeContainer__loadingScreen .aboutMeContainer__loadingText--center {
  top: initial;
  left: initial;
  font-style: italic;
  opacity: 15%;
}

@media screen and (max-width: 750px) {
  .aboutMeContainer__loadingScreen .aboutMeContainer__loadingText--center {
    opacity: 100%;
  }
}

.aboutMeContainer__splineScene {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.aboutMeContainer__splineScene--enableMobile {
  display: none;
}

.aboutMeContainer__landscapeVideo--disabled {
  display: none !important;
}

@media screen and (max-width: 750px) {
  .aboutMeContainer__splineScene--disableMobile {
    display: none;
  }
  .aboutMeContainer__counter--disableMobile {
    display: none !important;
  }
  .aboutMeContainer__splineScene--enableMobile {
    display: block;
  }
}

.aboutMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMeContainer__videoContainer {
  display: flex;
  justify-content: center;
  pointer-events: none;
  align-items: center;
}

.aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
  display: flex;
}

@media screen and (max-width: 350px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 34.5vh;
  }
}

@media screen and (min-width: 350px) and (max-width: 390px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 38.5vh;
  }
}

@media screen and (min-width: 390px) and (max-width: 440px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 41vh;
  }
}

@media screen and (min-width: 440px) and (max-width: 540px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 48vh;
  }
}

@media screen and (min-width: 540px) and (max-width: 640px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 56vh;
  }
}

@media screen and (min-width: 640px) and (max-width: 750px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 56vh;
  }
}

@media screen and (min-width: 750px) and (max-width: 950px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 48vh;
  }
}

@media screen and (min-width: 950px) and (max-width: 1024px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 59vh;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 66vh;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 84vh;
  }
}

@media screen and (min-width: 1920px) {
  .aboutMeContainer__videoContainer .aboutMeContainer__landscapeVideo {
    width: 66vh;
  }
}

.aboutMeContainer__recommendations {
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 7;
  background-color: #000000ab;
  display: none;
  opacity: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.aboutMeContainer__recommendations .aboutMeContainer__nextRec {
  margin-bottom: 80px;
}

.aboutMeContainer__recommendations .aboutMeContainer__nextRec button {
  font-size: 1.1em;
  padding: 15px 5vw;
  border-radius: 30px;
  background: white;
  color: #2a3353;
  border: none;
  opacity: 0;
  transform: translateY(50px);
}

.aboutMeContainer__recommendations .aboutMeContainer__nextRec button:hover {
  background-color: #2a3353;
  color: white;
}

.aboutMeContainer__recommendations .aboutMeContainer__nextRec button:active {
  background: white;
  color: #2a3353;
}

@media only screen and (max-width: 800px) {
  .aboutMeContainer__recommendations .aboutMeContainer__nextRec button {
    padding: 15px 20vw;
  }
  .aboutMeContainer__recommendations .aboutMeContainer__nextRec button:hover {
    background-color: white !important;
    color: #2a3353 !important;
  }
  .aboutMeContainer__recommendations .aboutMeContainer__nextRec button:active {
    color: white !important;
    background-color: #2a3353 !important;
  }
}

.aboutMeContainer__recommendations .aboutMeContainer__closePopUp {
  margin-top: 20px;
}

.aboutMeContainer__recommendations .aboutMeContainer__closePopUp button {
  font-size: 1.2em;
  transform: translateY(100px);
  padding: 15px;
  width: 100vw;
  background: #101010;
  color: white;
  border: none;
}

.aboutMeContainer__recommendations .aboutMeContainer__closePopUp button:active {
  background-color: #101010;
  color: white;
}

.aboutMeContainer__recommendations .aboutMeContainer__closePopUp button:hover {
  background: white;
  color: black;
}

.aboutMeContainer__recommendations .aboutMeContainer__clickOff {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation {
  flex-direction: column;
  overflow: hidden;
  width: 360px;
  min-width: 360px;
  margin: 10px 10px;
  margin-top: 20vh;
  border-radius: 15px;
}

@media only screen and (max-width: 400px) {
  .aboutMeContainer__recommendations .aboutMeContainer__recommendation {
    margin: 10px;
    width: 90vw;
    min-width: 90vw;
  }
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  z-index: 2;
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__recommendation-profileImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 15px 0px #020674;
}

@media only screen and (max-width: 400px) {
  .aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__recommendation-profileImage {
    height: 80px;
    width: 80px;
  }
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__recommendation-profileImage--firstRec {
  background-image: url("../images/recommendation/dina.webp");
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__recommendation-profileImage--secondRec {
  background-image: url("../images/recommendation/taliaferro.webp");
  background-position-y: -2.5px;
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__recommendation-profileImage--thirdRec {
  background-image: url("../images/recommendation/nils.webp");
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__nameTitle {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  text-align: center;
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__nameTitle p {
  color: black;
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__nameTitle :nth-child(1) {
  font-weight: bold;
  font-size: 1.2em;
}

@media only screen and (max-width: 400px) {
  .aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__nameTitle :nth-child(1) {
    font-size: 1.1em;
  }
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__nameTitle :nth-child(2) {
  font-size: 0.8em;
  color: #2a3353;
}

@media only screen and (max-width: 400px) {
  .aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__recommendation-writtenBy .aboutMeContainer__nameTitle :nth-child(2) {
    font-size: 0.7em;
  }
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__text {
  text-align: center;
  margin: 30px 30px;
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__text p {
  color: black;
  font-size: 15px;
}

@media only screen and (max-width: 400px) {
  .aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__text {
    margin: 10px;
  }
  .aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__recommendation-information .aboutMeContainer__text p {
    font-size: 13px;
  }
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__link button {
  height: 100%;
  width: 100%;
  padding: 15px;
  position: relative;
  z-index: 1;
  border-radius: 0px 0px 15px 15px;
}

.aboutMeContainer__recommendations .aboutMeContainer__recommendation .aboutMeContainer__link button:hover {
  background-color: #2a3353;
  color: white;
  transform: translateY(-5px);
}

.aboutMeContainer__hideRec {
  display: none;
}

/*new about me*/
/*404 page*/
.page404 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
